.mdl-mini-footer {
  color: rgb(158,158,158);
  background-color: rgb(33,150,243) !important; 
  /*height: 56px !important;*/
  color: rgb(250,250,250) !important;
  padding: 10px 16px !important;
} 

.align_center{
  text-align: center;
}

/* Image card  */ 
.demo-card-image.mdl-card {
  width: auto ;
  height: 100%;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
/*  padding: 16px;*/
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.comprendre{
  background: url('../img/menu_moustique.jpg') center / cover;  
}
.se_proteger{
  background: url('../img/menu_moustiquaire.jpg') center / cover;  
}
.diagnostiquer{
  background: url('../img/menu_tdr.jpg') center / cover;  
}
.se_soigner{
  background: url('../img/menu_drug.jpg') center / cover;  
}
.pharmacie{
  background: url('../img/menu_docteur.jpg') center / cover;  
}
.questions{
  background: url('../img/menu_questions.jpg') center / cover;  
}
.quiz{
  background: url('../img/menu_quiz.jpg') center / cover;  
}
.chasse{
  background: url('../img/menu_technicien.jpg') center / cover;  
}
.comment{
  background: url('../img/menu_clavier.jpg') center / cover;  
}
.qui{
  background: url('../img/menu_sourire.jpg') center / cover;  
}

    .mdl-layout__header-row {
      padding: 10px 16px 0 50px; }

.mdl-container {
  max-width: 900px; 
  margin: auto;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}  
.mdl-container_text {
  max-width: 90%;
  padding: 0px 15px;
}

.text_container {
 /* padding: 20px 56px;*/
 padding: 0px 0px;
  width: 100%;
  margin:  0 auto;
}    

.full_img{
  width: 100%%;
  height: auto;
}
.mdl-layout__content {
  padding: 15px 15px !important;
}

.mdl-grid {
  padding: 0px !important;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}

.parasite{
  background: url('../img/parasite_palu.jpg') center / cover no-repeat #46B6AC; 
}
.moustique_pique{
  background: url('../img/moustique_pique.jpg') center / cover no-repeat #46B6AC; 
}
.larves_moustiques{
    background: url('../img/larves_moustiques.jpg') center / cover no-repeat #46B6AC; 
}
.pulverisation{
    background: url('../img/pulverisation.jpg') center / cover no-repeat #46B6AC; 
}
.moustiquaire{
    background: url('../img/moustiquaire.jpg') center / cover no-repeat #46B6AC;
}
.tdr{
    background: url('../img/TDR.jpg') center / cover no-repeat #46B6AC;
}
.artemisia_annua{
  background: url('../img/artemisia_annua.jpg') center / cover no-repeat #46B6AC;
}
.container_title{
  padding: 0px 15px;
}
